.mdl-grid {
    height: 120%;
}

.mdl-cell {
    display: flex;
    flex-direction: column;
}

.mdl-card {
    border-radius: 1rem;
}

.mdl-button {
    background-color: var(--mikado-yellow);
    font-weight: bolder;
}

.container {
    margin: 1rem 2rem;
}

form {
    padding: 1rem 2rem;
}

.demo-card-square,
.mdl-card {
    width: 100%;
    height: fit-content;
}

#TaxiType {
    width: 100%;
}

.taxi-type-label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.taxi-type {
    /*border: 1px solid black;*/
    border: transparent;
    border-radius: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
    background-color: whitesmoke;
    box-shadow: 1px 1px 2px black;
    height: 4rem;
}

.selected {
    border-color: rgb(63, 81, 181);
    background-color: rgb(63, 81, 181);
    color: white;
}

.mapbox {
    height: 75vh;
    width: 100%;
}

.mdl-textfield {
    width: 100%;
}

@media screen and (max-width: 950px) {
    .container {
        margin: 1rem 2rem;
    }
}
