:root {
    --rich-black-fogra-39: #010400ff;
    --ghost-white: #f7f7ffff;
    --mikado-yellow: #fec601ff;
    --green-blue: #2364aaff;
    --middle-blue-purple: #8e7dbeff;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--ghost-white);
}
