main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mdl-card {
    width: 40%;
    padding: 0 5%;
}

.mdl-card > h2 {
    font-size: clamp(1.9rem, 4.5vw, 3.5rem);
    text-align: center;
}

.mdl-button {
    --mikado-yellow: #fec601ff;
    background-color: var(--mikado-yellow);
    font-weight: bolder;
}

#taxitype {
    width: 20%;
}

@media screen and (max-width: 700px) {
    .mdl-card {
        width: 90%;
    }
}
